/saves
/logs
/journeymap/data
/options.txt
/simplebackups
/journeymap/journeymap.log
/rhino.local.properties
/usercache.json
/usernamecache.json
/.curseclient
/servers.dat
/servers.dat_old
/local
/ds_private_storage.json
/modernfix
/ESM
/journeymap
/config
